<h1 style="color: <%= @task.color_in_hex %>;"><%= "#{@task.congratulations_message.capitalize}" %>!</h1>

<p>Hi <%= @user.name %>,</p>
<p>You just closed <i><%= @task.description %></i>!

<p>Go on and close all tasks!</p>
