<div class="nested-fields">
  <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
      <%= link_to_remove_association "Remove", f, class: 'pull-right' %>
    </div>
    <%=f.error_span(:description) %>
</div>
